       body{
        background-color: crimson;
       }                                                                                                                 

       .primeiraparte{
        background-color: indigo;
       }

       .foto{
        width: 600px;
       }
       {display for}
       